{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "browser": false
    },
    "extends": [
        "airbnb",
        "plugin:import/warnings"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "allowShortCircuit": true,
            "allowTernary": true
        }
    },
    "settings": {
        "node": {
            "tryExtensions": [".js", ".json", ".node"]
        }
    },
    "rules": {
        "no-console": "off",
        "node/file-extension-in-import": "always"
    }
}